.selfie__phone {
    width: 100%;
    height: calc(670px + (943 - 670) * ((100vw - 1366px) / (1920 - 1366)));
    position: relative;
}

.selfie__phone--img {
    width: 100%;
    height: 100%;
    background: url(../../assets/image\ 283.png) lightgray 50% / cover no-repeat;
}

.selfie__phone--title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 81px 163px;
    width: 523px;
    color: var(--white-color, #FFF);
    font-feature-settings: 'ss01' on;
    /* Heading/Subtle/H3 */
    font-family: var(--Body-font-family, "Be Vietnam Pro");
    // font-size: var(--Heading-font-size-H3, 60px);
    font-size: clamp(2rem, 4vw, var(--Heading-font-size-H3, 60px));
    font-style: normal;
    font-weight: 600;
    line-height: 92%;
    /* 55.2px */
    letter-spacing: -3px;
}

.selfie__phone--product {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 70px 163px;
    width: calc(363px + (511 - 363) * ((100vw - 1366px) / (1920 - 1366)));
    height: calc(126px + (178 - 126) * ((100vw - 1366px) / (1920 - 1366)));
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--white-color, #FFF);
    display: flex;
}

.selfie__product--img {
    width: calc(65px + (91 - 65) * ((100vw - 1366px) / (1920 - 1366)));
    height: calc(106px + (150 - 106) * ((100vw - 1366px) / (1920 - 1366)));
    margin-top: calc(11px + (12 - 11) * ((100vw - 1366px) / (1920 - 1366)));
    margin-left: calc(39px + (44 - 39) * ((100vw - 1366px) / (1920 - 1366)));
    flex-shrink: 0;
    background: url(../../assets/Place\ Holder4.png) var(--white-color) -30px 0px / 164.835% 100% no-repeat;
}

.selfie__product--info {
    width: 100%;
    padding: 25.5px 15px 15px 30px;
}

.selfie__product--info h3 {
    color: var(--Primary-Accent-1, #1E232B);

    /* Body/Strong/XXL */
    font-family: var(--Body-font-family, "Be Vietnam Pro");
    font-size: var(--Body-font-size-body-2xL, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: 105%;
    /* 21px */
    letter-spacing: -0.2px;
}

.product__desc {
    color: var(--Text, #1E1E1E);
    font-feature-settings: 'ss01' on;

    /* Body/Subtle/S */
    font-family: var(--Body-font-family, "Be Vietnam Pro");
    font-size: var(--Body-font-size-body-Sm, 15px);
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
    padding-top: 6px;
    width: 285px;
}

.product__info {
    display: flex;
}

.selfie__price--price {
    width: 85%;
    padding-top: 27px;
    display: flex;
    align-items: center;
}

.selfie__price {
    color: var(--Text, #1E1E1E);
    font-feature-settings: 'ss01' on;

    /* Body/Strong/M */
    font-family: var(--Body-font-family, "Be Vietnam Pro");
    font-size: var(--Body-font-size-body-Md, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
    letter-spacing: -0.16px;
}

.price__discount {
    padding-left: 5px;
    opacity: 0.3;
}

.selfie__btn {
    margin: 24.5px 0 0 7.5px;
    padding: 10px 10px;
    border-radius: 5px;
}