@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --heading-font: "Lora", serif;
  --Body-font-family: "Be Vietnam Pro";
  --Text: #1E1E1E;
  --white-color: #fff;
  --contact-bg: #F7F7F8;
  --service-bg: #F6F6F6;
  --btn-pre: #e8e8e8;
  --Primary-Accent-1: #1E232B;
  --page-width: 1592px;
  --Body-font-size-latop-lv: 10px;
  --Body-font-size-latop-wt: 10.6px;
  --Body-font-size-ltop-MZ: 11px;
  --Body-font-size-latop-ts: 11.5px;
  --Body-font-size-laptop-Md: 12px;
  --Body-font-size-body-xS: 14px;
  --Body-font-size-laptop-2xL: 14.5px;
  --Body-font-size-body-Sm: 15px;
  --Body-font-size-body-Md: 16px;
  --Body-font-size-body-1xl: 18px;
  --Body-font-size-body-2xL: 20px;
  --Heading-font-size-L: 22px;
  --Heading-font-size-ltop-2xl: 28px;
  --Body-font-size-ltop-3xL: 30px;
  --Heading-font-size-ltop-3xxl: 31px;
  --Heading-font-size-ltop-xxl: 36px;
  --Heading-laptop-font-size-H4: 37px;
  --Heading-font-size-H4: 50px;
  --Heading-font-size-H3: 60px;
  --Heading-font-size-HL: 40px;
  --Heading-font-size-H5: 42px;
  --Heading-font-size-H6: 31px;
  --Heading-font-size-H5-mobi: 32px;
  --grid-desktop-vertical-spacing: 30px;
  --grid-desktop-horizontal-spacing: 30px;
  --grid-desktop-collection-grid: 26px;
  --grid-desktop-col-list-grid: 28px;
  --grid-desktop-collection: 28px;
  --grid-laptop-vertical-spacing: 25px;
  --grid-laptop-horizontal-spacing: 25px;
  --grid-laptop-spacing-cl: 20px;
  --grid-laptop-spacing: 18px;
  --grid-laptop-spacing-cls: 19px;
  --grid-laptop-spacing-cls-cl: 19px;
  --Button-Primary-BG: #0F61FF;
  --Button-Primary-HV: #6094fc;
  --Primary-Accent-1: #1E232B;
  --border: rgba(0, 0, 0, 0.10);
  --grid: 12;
  --grid-container-width: 1920px;
  --grid-container-gap: 0px;
  --grid-col-gap-vertical: 30px;
  --grid-col-gap-horizontal: 30px;
  --col-xs: 2.82;
  --col-lg: 2.8;
  --col-wt: 12;
  --col-ltop: 12;
  --col-sm: 5.8;
  --col-mobi: 5.8;
  --new: #054e4a;
  --selling-fast: #000000;
  --coupon: #a42003;
  --sale-bg: #6e331a;
  --contact-border: #e6e6e6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

input {
  cursor: text;
}

ul {
  padding: 0;
  margin: 0;
}

.ml-35 {
  margin-left: 35px;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: var(--Secondary-Inverse-Title, #FFF);
}

.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  column-gap: var(--grid-desktop-horizontal-spacing);
  row-gap: var(--grid-desktop-vertical-spacing);
}

.btn {
  border-radius: 56px;
  background: var(--Button-Primary-BG);
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.btn:hover {
  background: var(--Button-Primary-HV);
}

@media (max-width: 768px) {
  .page-width {
    width: 100vw;
    padding: 0 1rem;
  }
}
.container {
  max-width: var(--grid-container-width);
  margin: auto;
  padding-left: var(--grid-container-gap);
  padding-right: var(--grid-container-gap);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-col-gap-vertical) / -2);
  margin-right: calc(var(--grid-col-gap-vertical) / -2);
  margin-top: calc(var(--grid-col-gap-horizontal) * -1);
}

@media (min-width: 361px) {
  .col {
    width: calc(var(--col-sm) / var(--grid) * 100%);
  }
  .grid {
    column-gap: var(--Body-font-size-ltop-MZ);
    row-gap: var(--Body-font-size-ltop-MZ);
  }
  .coll__wt {
    width: calc(var(--col-wt) / var(--grid) * 100%);
  }
  .cls__grid {
    row-gap: var(--Body-font-size-body-Sm);
  }
}
@media (min-width: 992px) {
  .col {
    width: calc(var(--col-md) / var(--grid) * 100%);
  }
}
@media (min-width: 1200px) {
  .col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
  }
  .coll__wt {
    width: calc(var(--col-ltop) / var(--grid) * 100%);
  }
  .ml-35 {
    margin-left: 15px;
  }
}
@media (min-width: 1920px) {
  .col {
    width: calc(var(--col-xs) / var(--grid) * 100%);
  }
  .coll__wt {
    width: calc(var(--col-wt) / var(--grid) * 100%);
  }
  .col-slider {
    width: 32.2%;
  }
  .coll__grid {
    column-gap: var(--grid-desktop-col-list-grid);
    row-gap: var(--grid-desktop-collection);
  }
  .ml-35 {
    margin-left: 35px;
  }
  .grid {
    column-gap: var(--Heading-font-size-ltop-xxl);
    row-gap: var(--Heading-font-size-ltop-xxl);
  }
  .grid__desktop {
    column-gap: var(--Heading-font-size-ltop-3xxl);
    row-gap: var(--Heading-font-size-ltop-3xxl);
  }
  .cls__grid {
    column-gap: var(--Heading-font-size-ltop-2xl);
    row-gap: var(--Heading-font-size-ltop-2xl);
  }
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 114px;
  flex-shrink: 0;
  z-index: 99999;
  transition: background-color 0.3s ease;
}

.header.scrolled {
  background-color: rgba(112, 162, 255, 0.6);
}

.heder__home {
  display: flex;
  position: relative;
}

.heder__logo img {
  padding: 46px 55px 40px;
  width: 160px;
  height: 28px;
  flex-shrink: 0;
}

.heder__nav {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 817px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 54px;
  background: var(--white-color);
  display: flex;
  gap: 180px;
}

.header__nav--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 59%;
  height: 100%;
  padding-left: 32px;
}

li a {
  color: #000;
  font-feature-settings: "ss01" on;
  font-family: var(--Body-font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 25px 10px;
  /* 133.333% */
}

.header__nav--icon {
  display: flex;
  gap: 2px;
  align-items: center;
  width: 12%;
  height: 100%;
}

.nav__icon {
  padding: 18px 6px;
  position: relative;
}

.bar__mobi img,
.nav__icon img {
  width: 18px;
  height: 26px;
}

.nav__icon p {
  position: absolute;
  right: -1px;
  bottom: 16.5px;
  border-radius: 16px;
  background: #0F61FF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 10px;
  height: 10px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--white-color);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-feature-settings: "ss01" on;
  font-family: var(--Body-font-familys);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 10px;
  /* 100% */
  letter-spacing: -0.1px;
}

.bar__mobi {
  display: none;
}

.hero {
  width: 100%;
  min-height: 100vh;
  height: 1004px;
  max-height: 100vh;
  flex-shrink: 0;
  position: relative;
}

.hero__img {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), url(../../assets/image\ 49.png) lightgray 0px 2.966px/100% 110.591% no-repeat;
}

.hero__heading {
  position: absolute;
  bottom: 125px;
  left: 49.5%;
  transform: translate(-50%, 50%);
  width: 100%;
  max-width: 1843px;
  height: 114px;
  max-height: 15vh;
}

.hero__heading h1 {
  color: var(--white-color);
  text-align: center;
  font-feature-settings: "ss01" on;
  font-family: var(--Body-font-family);
  font-size: clamp(2rem, 11.2vw, 213px);
  font-style: normal;
  font-weight: 500;
  line-height: 114px;
  letter-spacing: -17.04px;
}

.product {
  margin-top: 100px;
}

.product__title h2 {
  color: var(--black-color);
  font-feature-settings: "ss01" on;
  font-family: var(--Body-font-family);
  font-size: var(--Heading-font-size-H5);
  font-style: normal;
  font-weight: 600;
  line-height: 98%;
  letter-spacing: -2.1px;
  padding-top: 3.8px;
  padding-left: 6px;
}

.product__content {
  margin-top: 30px;
}

.product__grid {
  border-radius: 28px;
  background: var(--contact-bg);
  padding-bottom: 32px;
  transition: box-shadow 0.3s ease;
}

.product__grid:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product__img {
  margin-top: 43px;
  width: 100%;
  height: 377px;
  flex: 1 0 0;
  align-self: stretch;
  transition: transform 0.3s ease;
}

.product__img:hover {
  transform: translateY(-10px);
}

.img-1 {
  background: url(../../assets/Place\ Holder.png) var(--contact-bg) 50%/cover no-repeat;
}

.img-2 {
  background: url(../../assets/Place\ Holder1.png) var(--contact-bg) 50%/cover no-repeat;
}

.img-3 {
  background: url(../../assets/Place\ Holder2.png) var(--contact-bg) 50%/cover no-repeat;
}

.img-4 {
  background: url(../../assets/Place\ Holder3.png) var(--contact-bg) 50%/cover no-repeat;
}

.product__name {
  margin-top: 8.5px;
  color: var(--Text);
  text-align: center;
  font-feature-settings: "ss01" on;
  font-family: var(--Body-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.16px;
}

.product__price {
  margin-top: 8.5px;
  color: var(--Primary-Accent-1);
  font-feature-settings: "ss01" on;
  font-family: var(--Body-font-family);
  font-size: 14px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.product__color {
  margin-top: 23.5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.color__item {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  cursor: pointer;
}

.color__item::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  display: none;
}

.color__item.selected::before {
  display: block;
}

.color__item:nth-child(1) {
  background-color: #ff0000;
}

.color__item:nth-child(2) {
  background-color: #A393B5;
}

.color__item:nth-child(3) {
  background-color: #0000ff;
}

.color__item:nth-child(4) {
  background-color: #EC978C;
}

.product__change {
  margin-top: 27.5px;
  height: calc(500px + 201 * (100vw - 1366px) / 554);
  position: relative;
}

.product__change--img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: url(../../assets/Change\ Img.png) lightgray 50%/cover no-repeat;
}

.product__change button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(17px);
}

.btn__all {
  width: 124px;
  height: 46px;
  color: var(--white-color);
  font-feature-settings: "ss01" on;
  font-family: var(--Body-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.magsafe {
  margin-top: 120px;
  background-color: var(--service-bg);
  width: 100%;
  flex-shrink: 0;
  padding-bottom: 88px;
}

.magsafe__extreme {
  padding-top: 83px;
}

.magsafe__title {
  width: clamp(365px, 465px + 34 * (100vw - 1366px) / 554, 500px);
  color: var(--Text);
  font-feature-settings: "ss01" on;
  font-family: var(--Body-font-family);
  font-size: clamp(2rem, 3vw, var(--Heading-font-size-H4));
  font-style: normal;
  font-weight: 600;
  line-height: 104%;
  letter-spacing: -3.4px;
}

.magsafe__border {
  margin-top: 38px;
  border-top: 1.4px solid var(--border);
}

.magsafe__content {
  margin-top: 51px;
}

.splide {
  visibility: visible !important;
}

.splide__list {
  column-gap: 27px;
}

.splide__slide {
  width: 32.2%;
}

.magsafe__slider--item {
  position: relative;
}

.magsafe__slider--img {
  width: 100%;
  height: 479px;
  flex-shrink: 0;
}

.magsafe__img--1 {
  background: url(../../assets/image\ 67.png) var(--service-bg) 55px 48px/78.32% 83.716% no-repeat;
}

.magsafe__img--2 {
  height: 577px;
  border-radius: 10px;
  background: url(../../assets/image\ 121.png) var(--service-bg) 50%/cover no-repeat;
  background-size: 208% 140%;
  background-position: 63% 44%;
}

.magsafe__img--3 {
  background: url(../../assets/image\ 68.png) var(--service-bg) 55px 48px/78.32% 83.716% no-repeat;
}

.magsafe__slider--title {
  width: 260px;
  padding: 23px 32px;
  color: var(--Text, #1E1E1E);
  font-family: var(--Body-font-family);
  font-size: var(--Body-font-size-body-2xL, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  letter-spacing: -0.2px;
}

.magsafe__text {
  color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: 10px;
}

.magsafe__slider--number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  color: var(--Text, #1E1E1E);
  font-feature-settings: "ss01" on;
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-Md, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
  letter-spacing: -0.16px;
}

.color__number {
  color: var(--white-color);
  opacity: 0.5;
}

.selfie__phone {
  width: 100%;
  height: calc(670px + 273 * (100vw - 1366px) / 554);
  position: relative;
}

.selfie__phone--img {
  width: 100%;
  height: 100%;
  background: url(../../assets/image\ 283.png) lightgray 50%/cover no-repeat;
}

.selfie__phone--title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 81px 163px;
  width: 523px;
  color: var(--white-color, #FFF);
  font-feature-settings: "ss01" on;
  /* Heading/Subtle/H3 */
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: clamp(2rem, 4vw, var(--Heading-font-size-H3, 60px));
  font-style: normal;
  font-weight: 600;
  line-height: 92%;
  /* 55.2px */
  letter-spacing: -3px;
}

.selfie__phone--product {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 70px 163px;
  width: calc(363px + 148 * (100vw - 1366px) / 554);
  height: calc(126px + 52 * (100vw - 1366px) / 554);
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--white-color, #FFF);
  display: flex;
}

.selfie__product--img {
  width: calc(65px + 26 * (100vw - 1366px) / 554);
  height: calc(106px + 44 * (100vw - 1366px) / 554);
  margin-top: calc(11px + 1 * (100vw - 1366px) / 554);
  margin-left: calc(39px + 5 * (100vw - 1366px) / 554);
  flex-shrink: 0;
  background: url(../../assets/Place\ Holder4.png) var(--white-color) -30px 0px/164.835% 100% no-repeat;
}

.selfie__product--info {
  width: 100%;
  padding: 25.5px 15px 15px 30px;
}

.selfie__product--info h3 {
  color: var(--Primary-Accent-1, #1E232B);
  /* Body/Strong/XXL */
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-2xL, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  /* 21px */
  letter-spacing: -0.2px;
}

.product__desc {
  color: var(--Text, #1E1E1E);
  font-feature-settings: "ss01" on;
  /* Body/Subtle/S */
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-Sm, 15px);
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  padding-top: 6px;
  width: 285px;
}

.product__info {
  display: flex;
}

.selfie__price--price {
  width: 85%;
  padding-top: 27px;
  display: flex;
  align-items: center;
}

.selfie__price {
  color: var(--Text, #1E1E1E);
  font-feature-settings: "ss01" on;
  /* Body/Strong/M */
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-Md, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
  letter-spacing: -0.16px;
}

.price__discount {
  padding-left: 5px;
  opacity: 0.3;
}

.selfie__btn {
  margin: 24.5px 0 0 7.5px;
  padding: 10px 10px;
  border-radius: 5px;
}

.collection {
  margin-top: 80px;
  display: flex;
  align-items: stretch;
}

.collection__left {
  width: 50%;
  position: relative;
}

.collection__right {
  margin-left: 25px;
  width: 50%;
}

.collection__left--img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: url(../../assets/Change\ Img1.png) lightgray 50%/cover no-repeat;
}

.collection__left h5 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 34px 40px;
  color: var(--white-color, #FFF);
  font-feature-settings: "ss01" on;
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Heading-font-size-H5, 42px);
  font-style: normal;
  font-weight: 600;
  line-height: 98%;
  letter-spacing: -2.7px;
  width: calc(230px + 50 * (100vw - 1366px) / 554);
}

.collection__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  row-gap: var(--grid-desktop-collection);
}

.testimonials {
  margin-top: 50px;
  width: 100%;
  height: calc(420px + 144 * (100vw - 1366px) / 554);
  position: relative;
}

.testimonials__about {
  position: absolute;
  top: 0;
  left: 0;
}

.testimonials__title {
  width: 250px;
  padding: 88px 27px 27px;
  color: var(--Primary-Accent-1, #1E232B);
  font-feature-settings: "ss01" on;
  /* Heading/Subtle/H5 */
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Heading-font-size-H5, 42px);
  font-style: normal;
  font-weight: 600;
  line-height: 98%;
  /* 41.16px */
  letter-spacing: -2.1px;
}

.testimonials__icon {
  padding-left: 24px;
}

.testimonials__icon button {
  background-color: var(--btn-pre);
  width: 36px;
  border-radius: 50%;
  height: 36px;
  padding: 0;
}

.testimonials__icon button:nth-child(2) {
  margin-left: 4px;
}

.testimonials__icon button img {
  padding: 6px;
}

.testimonials__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(143%, 74.5%);
  width: 475px;
  padding: 33px 0px 34px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 13px;
  border-radius: 20px;
  background: var(--Layer, #F6F6F6);
}

.testimonials__text--desc {
  display: -webkit-box;
  width: 455px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  color: var(--Text, #1E1E1E);
  text-overflow: ellipsis;
  /* Body/Strong/XXL */
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-2xL, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  /* 21px */
  letter-spacing: -0.2px;
}

.testimonials__text--name {
  color: var(--Text, #1E1E1E);
  font-feature-settings: "ss01" on;
  opacity: 0.8;
  /* Body/Strong/L */
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
  letter-spacing: -0.34px;
}

.testimonials__user {
  position: absolute;
}

.about__user--1 {
  top: 139%;
  left: 200%;
}

.about__user--2 {
  top: 83%;
  left: 134%;
}

.about__user--3 {
  top: 145%;
  left: 40%;
}

.about__user--4 {
  top: 193%;
  left: 125%;
}

.about__user--5 {
  top: 173%;
  left: 311%;
}

.about__user--6 {
  top: 173%;
  left: 419%;
}

.about__user--7 {
  top: 109%;
  left: 464%;
}

.testimonials__wrapper {
  position: relative;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  z-index: 1;
}
.testimonials__wrapper::before {
  content: "";
  border-radius: 82px;
  background: rgba(19, 90, 178, 0.5);
  filter: blur(32px);
  width: 164px;
  height: 164px;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  display: none;
}
.testimonials__wrapper.selected::before {
  display: block;
}

.testimonial__img {
  position: relative;
  z-index: 1;
  border-radius: 50%;
}

.img__about--1 {
  width: 123px;
  height: 123px;
  background: url(../../assets/355442552_917728419299779_2129254489772126729_n\ 1.png) lightgray 50%/cover no-repeat;
}

.img__about--2 {
  width: 93px;
  height: 93px;
  background: url(../../assets/dae9a5d01a03b1f74c1c605ccb2c8296.jfif) lightgray 50%/cover no-repeat;
}

.img__about--3 {
  width: 64px;
  height: 64px;
  background: url(../../assets/d00d36f6c5e17095cb9e2c430b7789f5.jfif) lightgray 50%/cover no-repeat;
}

.img__about--4 {
  width: 83px;
  height: 83px;
  background: url(../../assets/9149fe6891ebfbc4715446951dcfbd8d.jfif) lightgray 50%/cover no-repeat;
}

.img__about--5 {
  width: 66.5px;
  height: 66.5px;
  background: url(../../assets/5cb1719c0589b75ce92050318e994e71.png) lightgray 50%/cover no-repeat;
}

.img__about--6 {
  width: 115px;
  height: 115px;
  background: url(../../assets/f5df8626833562fceb687d14b6e49540.jfif) lightgray 50%/cover no-repeat;
}

.img__about--7 {
  width: 70px;
  height: 70px;
  background: url(../../assets/79757f9a36157aaca91784ee325a1184.jfif) lightgray 50%/cover no-repeat;
}

.collection__list {
  margin-top: 145px;
  width: 100%;
}

.product__coll {
  width: calc(364px + 148 * (100vw - 1366px) / 554);
  height: calc(190px + 77 * (100vw - 1366px) / 554);
  position: relative;
}

.product__coll--img1 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: url(../../assets/Change\ Img2.png) lightgray 50%/cover no-repeat;
}

.product__coll--img2 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: url(../../assets/Change\ Img3.png) lightgray 50%/cover no-repeat;
}

.product__coll--img3 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: url(../../assets/Change\ Img4.png) lightgray 50%/cover no-repeat;
}

.product__coll--text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 35px 40px;
}

.product__coll--text h4 {
  display: none;
}
.product__coll--text h6 {
  color: var(--Text, #1E1E1E);
  font-feature-settings: "ss01" on;
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Heading-font-size-H6, 31px);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.93px;
}

.product__coll--text button {
  margin: 20px 2px;
}

.footer {
  margin-top: 76px;
  width: 100%;
  background-color: var(--Button-Primary-BG);
}

.footer__list {
  display: flex;
}

.footer__information {
  width: 58%;
}

.information__container {
  padding: 65px 70px;
}

.information__container img {
  width: 141px;
  height: 25px;
  flex-shrink: 0;
}

.information__text {
  padding-top: 9px;
  overflow: hidden;
  color: var(--white-color, #FFF);
  font-feature-settings: "ss01" on;
  text-overflow: ellipsis;
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-Md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  /* 23.2px */
  letter-spacing: -0.16px;
  opacity: 0.7;
  display: -webkit-box;
  width: 375px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.footer__directory {
  width: 42%;
  display: flex;
}

.information__icon {
  margin: 27px 1px;
}

.information__icon a {
  margin-right: 11px;
}

.information__icon a img {
  width: 24px;
  height: 24px;
}

.footer__category--list {
  padding: 58px 32px;
  width: 21%;
}

.category__item {
  display: block;
  padding: 5px 5px;
  color: var(--white-color, #FFF);
  font-feature-settings: "ss01" on;
  /* Body/Stronger/M */
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-Md, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 22.4px */
  letter-spacing: -0.16px;
}

.accrete {
  opacity: 0.6;
  font-weight: 500;
  font-size: var(--Body-font-size-body-xS);
}

.category__item:hover {
  opacity: 0.6;
}

.footer__email {
  width: 98%;
  max-width: 1870px;
  height: 137px;
  margin: 0 auto;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
}

.footer__email input {
  padding-left: 42px;
  width: calc(100% - 50px);
  max-width: 93.4%;
  height: 100%;
  color: var(--white-color, #FFF);
  font-feature-settings: "ss01" on;
  /* Heading/Subtle/H4 */
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Heading-font-size-H4, 50px);
  font-style: normal;
  font-weight: 600;
  line-height: 104%;
  /* 52px */
  letter-spacing: -2.5px;
  opacity: 0.5;
  flex-grow: 1;
}

.footer__email button {
  transform: translate(0, 0);
  flex-shrink: 0;
}

.footer__last {
  padding: 28px 25px;
  display: flex;
  position: relative;
}

.footer__last--text p {
  padding-left: 46px;
  color: var(--white-color, #FFF);
  font-feature-settings: "ss01" on;
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-Sm, 15px);
  font-style: normal;
  font-weight: 500;
  line-height: 142%;
}

.footer__text--img {
  padding: 0 10px 0 4px;
  transform: translateY(-2px);
}

.footer-payment {
  position: absolute;
  right: 20px;
}

.footer-payment button {
  padding: 0 2px;
}

.footer-payment button:nth-child(4) {
  width: 32.11px;
  height: 22.28px;
  padding: 0 3px;
  background-color: var(--white-color);
  transform: translateY(-7px);
  border-radius: 3px;
}

.footer-payment button:nth-child(7) {
  color: var(--white-color, #FFF);
  font-feature-settings: "ss01" on;
  /* Body/Subtle/XS */
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-xS, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
  transform: translateY(-4px);
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .grid {
    column-gap: var(--grid-laptop-horizontal-spacing);
    row-gap: var(--grid-laptop-vertical-spacing);
  }
  .rowltop__grid {
    column-gap: var(--grid-laptop-spacing);
    row-gap: var(--grid-laptop-spacing-cl);
  }
  .cls__grid {
    column-gap: var(--grid-laptop-spacing-cls);
    row-gap: var(--grid-laptop-spacing-cls-cl);
  }
  .header {
    height: 82px;
  }
  .heder__logo img {
    padding: 30px 39px 25px;
    width: 113px;
    height: 25px;
  }
  .heder__nav {
    top: 16px;
    right: 17px;
    width: 580px;
    height: 49px;
    gap: 118px;
  }
  .header__nav--list {
    width: 61.5%;
    padding-left: 16px;
  }
  li a {
    font-size: 11px;
    padding: 17px 7px;
  }
  .header__nav--icon {
    gap: 0;
  }
  .nav__icon img {
    width: 12px;
    height: 12px;
  }
  .nav__icon p {
    right: 2px;
    bottom: 14.5px;
    width: 5px;
    height: 5px;
    font-size: 8px;
  }
  .hero__heading {
    bottom: 99px;
  }
  .hero__heading h1 {
    font-size: clamp(2rem, 10vw, 130px);
    letter-spacing: -8.04px;
  }
  .page-width {
    width: 1132px;
  }
  .product {
    margin-top: 65px;
  }
  .product__title h2 {
    font-size: 30px;
    padding-left: 3px;
  }
  .product__content {
    margin-top: 21px;
  }
  .product__grid {
    border-radius: 20px;
    padding-bottom: 23px;
  }
  .product__img {
    height: 248px;
  }
  .product__name {
    margin-top: 14.5px;
    font-size: 12px;
  }
  .product__price {
    font-size: 10px;
    margin-top: 2.5px;
  }
  .product__color {
    margin-top: 7.5px;
  }
  .color__item {
    width: 12px;
    height: 12px;
  }
  .color__item::before {
    width: 16px;
    height: 16px;
  }
  .product__change {
    margin-top: 20.5px;
  }
  .magsafe {
    margin-top: 84px;
    padding-bottom: 51px;
  }
  .magsafe__title {
    width: clamp(380px, 380px + 104 * (100vw - 1366px) / 554, 484px);
    font-size: clamp(2rem, 3vw, var(--Heading-laptop-font-size-H4));
  }
  .magsafe__extreme {
    padding-top: 57px;
  }
  .magsafe__border {
    margin-top: 27px;
  }
  .magsafe__content {
    margin-top: 34px;
  }
  .splide__list {
    column-gap: 18px;
  }
  .magsafe__slider--img {
    width: 100%;
    height: 322px;
  }
  .magsafe__img--1 {
    background: url(../../assets/image\ 67.png) var(--service-bg) 35px 33px/80.32% 88.716% no-repeat;
  }
  .magsafe__img--2 {
    height: 410px;
    border-radius: 8px;
  }
  .magsafe__img--3 {
    background: url(../../assets/image\ 68.png) var(--service-bg) 40px 33px/79.32% 88.716% no-repeat;
  }
  .magsafe__slider--title {
    width: 185px;
    padding: 34px 22px;
    font-size: var(--Body-font-size-laptop-2xL, 14.5px);
  }
  .magsafe__slider--number {
    padding: 20px;
    font-size: var(--Body-font-size-laptop-Md, 12px);
  }
  .magsafe__text {
    bottom: 0px;
    line-height: 93%;
    padding: 30px 22px 24px;
  }
  .selfie__phone--title {
    padding: 60px 118px;
    width: 356px;
    font-size: var(--Heading-font-size-H5, 60px);
    letter-spacing: -2px;
  }
  .selfie__phone--product {
    margin: 48px 117px;
    border-radius: 12px;
  }
  .selfie__product--info h3 {
    font-size: var(--Body-font-size-body-xS, 14px);
    letter-spacing: 0;
  }
  .product__desc {
    width: 170px;
    padding-top: 3.6px;
    font-size: var(--Body-font-size-latop-wt, 10.6px);
  }
  .selfie__product--info {
    width: 100%;
    padding: 20.5px 13px 11px 12px;
  }
  .selfie__price {
    font-size: var(--Body-font-size-laptop-Md);
  }
  .price__discount {
    padding-left: 2px;
  }
  .selfie__price--price {
    padding-top: 20px;
  }
  .selfie__btn {
    margin: 16.5px 0 0 7.5px;
    padding: 4px 4px;
    border-radius: 4px;
  }
  .collection {
    margin-top: 59px;
  }
  .collection__left--img {
    border-radius: 15px;
  }
  .collection__left h5 {
    padding: 23px 28px;
    font-size: var(--Heading-font-size-H6);
    letter-spacing: -2.6px;
  }
  .collection__right {
    margin-left: 18px;
  }
  .testimonials__title {
    width: 185px;
    padding: 48px 25px 13px;
    font-size: var(--Body-font-size-ltop-3xL);
    letter-spacing: -1.9px;
  }
  .testimonials__text {
    transform: translate(144%, 65%);
    width: 328px;
    border-radius: 15px;
    padding: 24px 9px 24px 27px;
    gap: 8px;
  }
  .testimonials__text--desc {
    width: 312px;
    font-size: 14.3px;
  }
  .testimonials__text--name {
    font-size: 12px;
  }
  .collection__list {
    margin-top: 70px;
  }
  .product__coll--text {
    padding: 24px 30px;
  }
  .product__coll--text h6 {
    font-size: var(--Heading-font-size-L, 22px);
  }
  .product__coll--text button {
    margin: 15px 0px;
  }
  .btn__all {
    width: 89px;
    height: 32px;
    font-size: 10px;
  }
  .product__change button {
    transform: translateY(10px);
  }
  .footer {
    margin-top: 53px;
  }
  .information__container {
    padding: 45px 50px;
  }
  .information__container img {
    width: 100px;
    height: 24px;
  }
  .information__text {
    padding-top: 1.5px;
    font-size: var(--Body-font-size-latop-ts, 11.5px);
    width: 265px;
  }
  .information__icon {
    margin: 19px 0.5px;
  }
  .information__icon a {
    margin-right: 6.5px;
  }
  .information__icon a img {
    width: 17px;
    height: 17px;
  }
  .footer__category--list {
    padding: 43px 20px;
    width: 24%;
  }
  .category__item {
    padding: 3.6px 6px;
    font-size: var(--Body-font-size-ltop-MZ, 11px);
  }
  .footer__email {
    width: 98%;
    max-width: 1330px;
    height: 97px;
    border-radius: 15px;
  }
  .footer__email input {
    max-width: 92.5%;
    padding-left: 33px;
    font-size: var(--Heading-font-size-ltop-xxl, 36px);
  }
  .footer__last {
    padding: 20px 25px;
  }
  .footer__last--text p {
    padding-left: 25px;
    font-size: var(--Body-font-size-ltop-MZ);
  }
  .footer__text--img {
    padding: 0 6px 0 2px;
  }
  .footer-payment {
    right: 31px;
  }
  .footer-payment button:nth-child(4) {
    width: 24.11px;
    height: 16.28px;
    padding: 0;
    transform: translateY(2px);
    border-radius: 2px;
  }
  .footer-payment button {
    padding: 0 1px;
  }
  .footer-payment button img {
    width: 23px;
    height: 20px;
  }
  .footer-payment button:nth-child(7) {
    transform: translateY(-7px);
    font-size: var(--Body-font-size-latop-lv);
  }
  .footer-payment button:nth-child(7) img {
    transform: translateY(2px);
    width: 11px;
    height: 8px;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .header {
    height: 78px;
  }
  .heder__logo img {
    padding: 28px 21px 20px;
    width: 101px;
    height: 20px;
  }
  .heder__nav {
    top: 15px;
    right: 21px;
    width: 202px;
    height: 47px;
    border-radius: 23.5px;
    gap: 0;
  }
  .header__nav--icon {
    padding-left: 11px;
    width: 74.5%;
  }
  .bar__mobi {
    display: block;
  }
  .mobi__none,
  .header__nav--list {
    display: none;
  }
  .hero__img {
    height: 667px;
    min-height: 100vh;
    max-height: 100vh;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), url(../../assets/image\ 49.png) lightgray -290px -30.059px/336% 104.591% no-repeat;
  }
  .hero__heading {
    bottom: 114px;
    left: 49%;
  }
  .hero__heading h1 {
    padding: 0 26px;
    font-size: 73px;
    line-height: 66px;
    letter-spacing: -5.84px;
    text-align: left;
  }
  .page-width {
    width: 88vw;
  }
  .product {
    margin-top: 56px;
  }
  .product__title h2 {
    padding-left: 0;
    font-size: var(--Heading-font-size-H5-mobi);
  }
  .product__content {
    margin-top: 27px;
  }
  .product__grid {
    border-radius: 20px;
    padding-bottom: 15px;
  }
  .product__img {
    margin: 49px auto 0;
    width: 76%;
    height: 111px;
  }
  .product__name {
    margin-top: 16.5px;
    font-size: 13px;
  }
  .product__price {
    margin-top: 1.5px;
  }
  .product__color {
    display: none;
  }
  .product__change--img {
    border-radius: 20px;
    background: url(../../assets/Change\ Img5.png) lightgray 50%/cover no-repeat;
  }
  .product__change {
    margin-top: 11px;
    height: calc(588px + 201 * (100vw - 1366px) / 554);
  }
  .product__change button {
    transform: translateY(0px);
  }
  .magsafe {
    margin-top: 65px;
    padding-bottom: 74px;
  }
  .magsafe__extreme {
    padding-top: 50px;
  }
  .magsafe__title {
    font-size: 30px;
    line-height: 104%;
    letter-spacing: -2.2px;
    width: clamp(340px, 340px + 34 * (100vw - 1366px) / 554, 340px);
  }
  .magsafe__border {
    margin-top: 22px;
  }
  .splide__slide {
    width: 100%;
  }
  .magsafe__slider--img {
    height: 265px;
  }
  .magsafe__img--1 {
    background: url(../../assets/image\ 67.png) var(--service-bg) 36px 14px/78.32% 97.316% no-repeat;
  }
  .magsafe__slider--number {
    padding: 7px 25px;
  }
  .magsafe__slider--title {
    padding: 23px 26px;
  }
  .magsafe__img--2 {
    height: 365px;
  }
  .splide__list {
    column-gap: 0;
  }
  .magsafe__slider .splide__pagination {
    bottom: -1.35em;
  }
  .magsafe__slider .splide__pagination li .splide__pagination__page {
    width: 18px;
    height: 5px;
    border-radius: 10px;
    margin: 3px 2px;
  }
  .magsafe__slider .splide__pagination li .is-active {
    width: 55px;
    height: 5px;
    margin: 0 3px;
    transform: translate(0, 0);
    background: var(--Button-Primary-BG, #0F61FF);
  }
  .selfie__phone {
    width: 100%;
    height: 672px;
    position: relative;
    overflow: hidden;
  }
  .selfie__phone--img {
    width: 1876px;
    height: 1056px;
    flex-shrink: 0;
    background: url(../../assets/imge112.png) lightgray -727px 50%/cover no-repeat;
  }
  .selfie__phone--title {
    padding: 42px 23px;
    width: 330px;
    font-size: 40px;
    line-height: 98%;
    letter-spacing: -2px;
  }
  .selfie__phone--product {
    width: 245px;
    height: 349px;
    margin: 30px 28px 96px 101px;
  }
  .selfie__phone--product {
    display: block;
  }
  .selfie__product--img {
    width: 92px;
    height: 150px;
    margin: 26px 76px 20px;
  }
  .selfie__product--info {
    padding: 4px 15px 15px 20px;
  }
  .selfie__product--info h3 {
    font-size: var(--Body-font-size-body-1xl);
  }
  .product__desc {
    font-size: var(--Body-font-size-body-xS);
    width: 90%;
  }
  .selfie__price--price {
    padding-top: 25px;
  }
  .selfie__price {
    font-size: var(--Body-font-size-body-Sm);
  }
  .selfie__price--price {
    width: 64.5%;
  }
  .collection {
    margin-top: 63px;
    display: block;
  }
  .collection__left {
    width: 100%;
  }
  .collection__left--img {
    height: 380px;
    background: url(../../assets/Change\ Img6.png) lightgray 50%/cover no-repeat;
  }
  .collection__left h5 {
    font-size: var(--Heading-laptop-font-size-H4);
    letter-spacing: -1.85px;
    width: calc(335px + 50 * (100vw - 1366px) / 554);
    padding: 26.5px 31px;
  }
  .collection__right {
    margin-left: 0;
    margin-top: 12px;
    width: 100%;
  }
  .collection__grid {
    row-gap: var(--Body-font-size-ltop-MZ);
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  }
  .testimonials__title {
    padding: 24px 16px 23px;
    font-size: var(--Heading-font-size-HL);
    letter-spacing: -2px;
  }
  .testimonials__icon {
    padding-left: 16px;
  }
  .testimonials__text {
    transform: translate(28%, 144.5%);
    width: 226px;
    padding: 25px 7px 26px 29px;
  }
  .testimonials__text--desc {
    width: 210px;
  }
  .testimonials {
    height: 655px;
  }
  .collection__list {
    margin-top: 74px;
  }
  .product__coll {
    width: 100%;
    height: 380px;
  }
  .product__coll--text {
    padding: 27px 29px;
  }
  .product__coll--text h4 {
    display: block;
    font-size: var(--Heading-laptop-font-size-H4);
    color: var(--white-color);
    font-feature-settings: "ss01" on;
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 600;
    line-height: 98%;
    /* 36.26px */
    letter-spacing: -1.85px;
  }
  .product__coll--img3 {
    background: url(../../assets/Change\ Img6.png) lightgray 50%/cover no-repeat;
  }
  .footer {
    margin-top: 63px;
  }
  .footer__directory,
  .footer__information {
    width: 100%;
  }
  .information__container {
    padding: 42px 15px 20px;
  }
  .information__container img {
    width: 187px;
    height: 30px;
  }
  .information__text {
    padding: 9px 8px;
    width: 320px;
  }
  .information__icon {
    margin: 15px 8px;
  }
  .footer__category--list {
    padding: 12px 18px;
    width: 36%;
  }
  .category__item {
    padding: 4.8px 5px;
  }
  .ml-35 {
    margin-left: 16px;
    width: 45%;
    padding: 12px 1px;
  }
  .footer__email {
    width: 88%;
    max-width: 1870px;
    height: 75px;
    margin: 29px auto;
    border-radius: 10px;
  }
  .footer__email input {
    padding-left: 20px;
    font-size: var(--Body-font-size-ltop-3xL);
    letter-spacing: -1.5px;
  }
  .footer__email button {
    display: none;
  }
  .footer__last {
    padding: 0px 23px;
    display: block;
  }
  .footer__last--text p {
    padding: 0;
  }
  .footer-payment {
    position: static;
    margin-top: 27px;
  }
  .footer-payment button img {
    width: 31.5px;
    height: 22px;
  }
  .footer-payment button:nth-child(4) {
    width: 36px;
    height: 22px;
    transform: translateY(0);
  }
  .footer-payment button:nth-child(7) {
    margin-top: 12px;
    padding-bottom: 33px;
  }
  .footer-payment button:nth-child(7) img {
    width: 11.5px;
    height: 14px;
    transform: translateY(2.5px);
  }
}

/*# sourceMappingURL=main.css.map */
