.container {
  max-width: var(--grid-container-width);
  margin: auto;
  padding-left: var(--grid-container-gap);
  padding-right: var(--grid-container-gap);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-col-gap-vertical) / -2);
  margin-right: calc(var(--grid-col-gap-vertical) / -2);
  margin-top: calc(var(--grid-col-gap-horizontal) * -1);
}

@media (min-width: 361px) {
  .col {
    width: calc(var(--col-sm) / var(--grid) * 100%);
  }

  .grid {
    column-gap: var(--Body-font-size-ltop-MZ);
    row-gap: var(--Body-font-size-ltop-MZ);
  }

  .coll__wt {
    width: calc(var(--col-wt) / var(--grid)* 100%);
  }

  .cls__grid {
    row-gap: var(--Body-font-size-body-Sm);
  }
}

@media (min-width: 992px) {
  .col {
    width: calc(var(--col-md) / var(--grid) * 100%);
  }
}

@media (min-width: 1200px) {
  .col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
  }

  .coll__wt {
    width: calc(var(--col-ltop) / var(--grid)* 100%);
  }

  .ml-35 {
    margin-left: 15px;
  }

}

@media (min-width: 1920px) {
  .col {
    width: calc(var(--col-xs) / var(--grid) * 100%);
  }

  .coll__wt {
    width: calc(var(--col-wt) / var(--grid) * 100%);
  }

  .col-slider {
    width: 32.2%;
  }

  .coll__grid {
    column-gap: var(--grid-desktop-col-list-grid);
    row-gap: var(--grid-desktop-collection);
  }

  .ml-35 {
    margin-left: 35px;
  }

  .grid {
    column-gap: var(--Heading-font-size-ltop-xxl);
    row-gap: var(--Heading-font-size-ltop-xxl);
  }

  .grid__desktop {
    column-gap: var(--Heading-font-size-ltop-3xxl);
    row-gap: var(--Heading-font-size-ltop-3xxl);
  }

  .cls__grid {
    column-gap: var(--Heading-font-size-ltop-2xl);
    row-gap: var(--Heading-font-size-ltop-2xl);
  }
}